<% if !@bar_shown && @last_read_at && message.created_at > @last_read_at %>
  <% @bar_shown = true %>
  <div class="border-bottom border-danger"></div>
<% end %>

<div class="message mb-2 <%= 'me' if message.user == current_user %>">
  <div class="content-container">
    <div class="content"><%= message.body %></div>
    <div class="author"><%= message.user.name %></div>
  </div>
</div>
