<div class="homeCont">
    <div class="jumb mb-0">
        <div class="containerText">
            
                <h1 class="display-4 text-grey">The right way to chat with developers,
                globally</h1>
                <p class="lead mb-5">Have an idea to share? Need help with a coding
                challenge? Come chat with your fellow developers.
                Do it automatically and
                around the globe with DevTime. No appointment needed!
                </p>
            <div class="buttons">
                <%= link_to 'Start now', '#', class: 'start-btn btn btn-success mr-1', id: 'js-start-btn' %>
                <a class="btn btn-primary disabled" href="#">Video calls coming soon!!!
                </a>
            </div>
        </div>
        <div class="text-right">
            <img class="header-image d-md-block mt-3 imgsvg" src="<%=
            image_path('Workathome.svg') %>" alt="coding">
        </div>
    </div>
</div>