// Place all the styles related to the Channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.channelsIndex {
    background: linear-gradient(to right, rgb(36,41,47), rgb(244,130,37));
    height: 100%;
    min-height: 100vh;
    text-align: center;
    .btn-warning{
        @include btn;
        margin-bottom: 10px;
    }
   
    .table-responsive {
        margin: auto;
        width: 60%;
        background: white;
        border-radius:20px ;
        .table{
            tbody {
                tr{
                    td{
                        .not-show{
                            display: none;
                        }
                        .textOr{
                            &:hover{
                                color: rgb(244,130,37);
                            }
                        }
                    &:hover > .not-show {
                        display: inline-block;
                    }
                        
                    }
                }
            }
        }
    }
}