// Place all the styles related to the Channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "./variables";

.channelsIndex {
    background: linear-gradient(to right, rgb(36,41,47), rgb(244,130,37));
    height: 100%;
    min-height: 100vh;
    text-align: center;
    
    .btn-warning{
        @include btn;
        margin-bottom: 10px;
    }
   
    .table-responsive {
        margin: auto;
        width: 60%;
        min-width: 280px;
        background: white;
        
        border-radius:20px ;
        .table{
            tbody {
                tr{
                    td{
                        .not-show{
                            display: none;
                        }
                        .textOr{
                            &:hover{
                                color: rgb(244,130,37);
                            }
                        }
                    &:hover > .not-show {
                        display: inline-block;
                        }
                        
                    }
                }
            }
        }
    }
}

.showContainer {
    background: linear-gradient(to right, rgb(36,41,47), rgb(244,130,37));
    .sidebar {
        .sidebarCont {
            .list-group {
                .active {
                    background: rgb(244,130,37);
                    border: 2px solid white;
                }
            }
        }
    }
    .relativee {
        margin: 0;
        padding: 0;
        .messageB{
            min-height: 80vh;
            width: 100%;
            background: white;
            padding: 0 0 70px 20px;
            .message {
                
                min-width: 59px;
                .content-container{
                    display: inline-block;
                    .content{
                        padding: 8px 11px;
                        border-radius: 20px;
                        background-color: #eeeeee;
                    }
                    .author{
                        color: gray;
                        font-size: small;
                    }
                }
                &.me {
                    display: flex;
                    justify-content: right;
                    margin-right: 20px;
                    .content-container{
                        .content{
                            background-color: #007BFF;
                            color: white;
                            padding: 8px 11px;
                            border-radius: 20px;
                        }
                    }
                }
            }
            
        }
    }

    .fixed-bottom {
        .joinLink {
            
            
            z-index: 100;
            .linkRed {
                color: rgb(244,130,37);
                font-size: 29px;
                width: 100%;
                margin-left: 30px;
                
                
                
                
            }
           
        }
    }
}